* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32b4ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  background-color: #32b4ff;
  width: 550px;
  height: 300px;
  border-radius: 50px;
  background: #32b4ff;
  box-shadow: inset 5px 5px 10px #37a9eb, inset -5px -5px 10px #26c6fc;
}
*:focus {
  outline: none;
}
.container button {
  border: none;
  width: 130px;
  padding: 27px 30px 27px 30px;
  margin: -15px 60px 0px 60px;
  border-radius: 15px;
  background: #32b4ff;
  box-shadow: 5px 5px 10px #26c6fc, -5px -5px 10px #3aa8e7;
  letter-spacing: 2px;
}

h1 {
  margin-bottom: -20px;
  font-size: 50px;
  letter-spacing: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}
.btnReset_Clicked {
  opacity: 0.5;
}
